<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
    
        <script src="https://translate.google.com/translate_a/element.js?cb=translateDropdown"></script>
        <script>
          function translateDropdown() {
            new google.translate.TranslateElement(
              {pageLanguage: 'en'}, 'google_translate_id'
            )
          }
        </script>
        <div id="google_translate_id"></div>
        <form action = "/servers/order/biggerplate/return" method = "POST"> 
          <div class="row">
            <input type = "submit" value ="Return" class="btn btn-primary btn-block mb-2"  />
           </form>
        <h1>Bigger Plate: Choose 3 Entrees & 1 Side!</h1>
        <ul>
          <div class="col-sm">
            <div class="text-danger">
          <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
          <li><%= error.message %></li>
          <% }) %> <% } %>
        </div>
        </div>
        </ul>
        <% for (var i =0; i < entreearr.length;  i++ ) { %>
          <form action = "/servers/order/biggerplate/entree/<%= i %>" method = "POST"> 
          <div class="row">
                  <input type = "submit" value ="<%= entreearr[i].category %>: <%= entreearr[i].item %> " />
                 </form>
              <% } %>
              </div>
            </div>
          </div>
