
<body>
  
  <div id="sameline">
    <a href="/">Main Menu</a><a> --> </a>
    <a href="/customers/customers">Customers</a><a> --> </a>
    <a href="/customers/orderC">Order</a>
  <a> --> Bowl</a>
</div>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <script src="https://translate.google.com/translate_a/element.js?cb=translateDropdown"></script>
        <script>
          function translateDropdown() {
            new google.translate.TranslateElement(
              {pageLanguage: 'en'}, 'google_translate_id'
              )
          }
        </script>
        <form action = "/customers/orderC/bowlC/return" method = "POST"> 
          <div class="row">
            <input type = "submit" value ="Return" class="btn btn-primary btn-block mb-2"  />
           </form>
           <h1>Bowl: Choose 1 Entree & 1 Side!</h1>
           <ul>
             <div class="col-sm">
               <div class="text-danger">
                 <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
                  <li><%= error.message %></li>
                  <% }) %> <% } %>
                </div>
        </div>
      </ul>
      <% for (var i =0; i < entreearr.length;  i++ ) { %>
        <form action = "/customers/orderC/bowlC/entree/<%= i %>" method = "POST"> 
          <div class="row">
                  <input type = "submit" value ="<%= entreearr[i].category %>: <%= entreearr[i].item %> " />
                </form>
                <% } %>
              </div>
            </div>
          </div>
          
        </body>