<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
 
            <script src="https://translate.google.com/translate_a/element.js?cb=translateDropdown"></script>
    <script>
      function translateDropdown() {
        new google.translate.TranslateElement(
          {pageLanguage: 'en'}, 'google_translate_id'
        )
      }
    </script>
    <div id="google_translate_id"></div>

        <h1>Customers</h1>
        <a href="/customers/orderC" class="btn btn-primary btn-block mb-2" >Order</a>
        <a href="/customers/locations" class="btn btn-primary btn-block mb-2">Locations Near You</a>

        <a href="/" class="btn btn-primary btn-block mb-2">Return</a>
