<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">

<div><button class="btn btn-primary btn-block mb-2" onclick="history.back()">Return</button></div>
<div id="google_translate_id"></div>

<table>
    <tr>
       <th>id</th><th>name</th>
    </tr>
 
    <% for (var i = 0; i < employeelist.length; i++) { %>
     <tr>
       <td><%= employeelist[i].id %></td>
       <td><%= employeelist[i].name %></td>
     </tr>    
    <% } %>
 </table>