<style>
  #sameline {
    overflow: hidden;
    white-space: nowrap;
    padding-top: 20px;
  }
</style>

<div id="sameline">
  <a href="/">Main Menu</a><a> --> </a>
  <a href="/servers/servers">Servers</a>
  <a> --> Sales by Item</a>
</div>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">

<div><button class="btn btn-primary btn-block mb-2" onclick="history.back()">Return</button></div>
<div id="google_translate_id"></div>
<h4>Enter the start and end date to see the sales history in a specific time window</h4>
<div class="col-sm">
  <form action = "/servers/itemsales/date" method = "POST"> 
      <input type = "text" id = "startdate" name = "startdate" placeholder = "start date: YYYY-MM-DD" required="required">
      <input type = "text" id = "enddate" name = "enddate" placeholder = "end date: YYYY-MM-DD" required="required">
      <input type = "submit" value = "Submit" >
</div>

<table>
    <tr>
       <th>Date</th><th>Item</th><th>Pxrice</th>
    </tr>
 
    <% for (var i = 0; i < itemsales.length; i++) { %>
     <tr>
       <td><%= itemsales[i].date %></td>
       <td><%= itemsales[i].item %></td>
       <td><%= itemsales[i].price %></td>
     </tr>    
    <% } %>
 </table>