<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><img src="pandaSign.JPG" class="img-thumbnail"></h1>
        <a href="/managerlogin/managerlogin" class="btn btn-primary btn-block mb-2">Managers</a>
        <a href="/serverlogin/serverlogin" class="btn btn-primary btn-block mb-2">Servers</a>
        <a href="/customers/customers" class="btn btn-primary btn-block mb-2">Customers</a>
      </div>
    </div>

    <script src="https://translate.google.com/translate_a/element.js?cb=translateDropdown"></script>
    <script>
      function translateDropdown() {
        new google.translate.TranslateElement(
          {pageLanguage: 'en'}, 'google_translate_id'
        )
      }
    </script>
    <div id="google_translate_id"></div>
  </div>
