<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><img src="pandaSign.JPG" class="img-thumbnail"></h1>
        <a href="/managers/managers" class="btn btn-primary btn-block mb-2"
          >managers</a
        >
        <a href="/servers/servers" class="btn btn-primary btn-block mb-2">servers</a>
        <a href="/customers/customers" class="btn btn-primary btn-block mb-2">customers</a>
      </div>
    </div>
  </div>