<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href= "https://bootswatch.com/5/journal/bootstrap.min.css">

    <title>panda</title>
</head>

<div class="container">
    <div class="row">
      <div class="col text-center">
<button onclick="body.style.zoom='300%'; enlargeImg()" class="btn btn-info" >Zoom 300%</button>
<button onclick="body.style.zoom='200%'; resetImg()" class="btn btn-info" >Zoom 200%</button>
<button onclick="body.style.zoom='100%'; resetImg()" class="btn btn-info" >Zoom 100%</button>

</div>
</div>
</div>
<body class="background">
    <div class="container">
        <%- body %>
    </div>

    <script>
        img1 = document.getElementById("img1");
        img2 = document.getElementById("img2");
        img3 = document.getElementById("img3");
        img4 = document.getElementById("img4");
      function enlargeImg() {
        img1.style.transform = "scale(1.5)";
        img2.style.transform = "scale(1.5)";
        img3.style.transform = "scale(1.5)";
        img4.style.transform = "scale(1.5)";
      }
      function resetImg() {
        img1.style.transform = "scale(1)";
        img2.style.transform = "scale(1)";
        img3.style.transform = "scale(1)";
        img4.style.transform = "scale(1)";
      }
      </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
