<style>
  #sameline {
    overflow: hidden;
    white-space: nowrap;
    padding-top: 20px;
  }
  body  {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(255, 129, 161, 0.73)),
                      url('/testbackground.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
  }
</style>

<body></body>

<div id="sameline">
  <a href="/">Main Menu</a><a> --> </a>
  <a href="/customers/customers">Customers</a>
  <a> --> Nearby Locations</a>
</div>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <style>
          #map {
            height: 300px;
            width: 100%;
          }
        </style>
        <script src="https://translate.google.com/translate_a/element.js?cb=translateDropdown"></script>

          <script>
            function translateDropdown() {
              new google.translate.TranslateElement(
                {pageLanguage: 'en'}, 'google_translate_id'
              )
            }
          </script>

          <script>
            function initMap() {
              // Panda Express at MSC
              var PE_MSC = {
                lat: 30.612223,
                lng: -96.358898
              };
              // PE at Polo
              var PE_polo = {
                lat: 30.6226794,
                lng: -96.3577007
              }
              // PE on TX 6
              var PE_TX6 = {
                lat: 30.6153285,
                lng: -96.3319979
              }
              // A&M lat + lng for map center
              var AM = {
                lat: 30.6186805,
                lng: -96.3442275
              }

              var map = new google.maps.Map(
                document.getElementById('map'), {
                  zoom: 13.5,
                  center: AM
              });

              function addMarker(props) {
                var marker = new google.maps.Marker({
                  position: props.coordinates,
                  map: map
                });

                if (props.content) {
                  var infoWindow = new google.maps.InfoWindow({
                    content: props.content
                  });

                  marker.addListener('click', function(){
                    infoWindow.open(map, marker);
                  });

                  marker.addListener('mouseover', function(){
                    infoWindow.open(map, marker);
                  });
                }
              }

              // markers for each PE location
              addMarker({coordinates: PE_MSC, 
                content: "<div>Panda Express @ MSC</div><div>Open 7 days/week 11AM-10PM</div>275 Joe Routt Blvd, College Station, TX 77840"});
              addMarker({coordinates: PE_polo,
                content: "<div>Panda Express @ Polo</div><div>Open Mon to Fri 11AM-8PM</div>300 Polo Rd Room 129, College Station, TX 77840"});
              addMarker({coordinates: PE_TX6,
                content: "<div>Panda Express on TX Ave</div><div>Open Sun to Thu 10:30AM-10PM, Fri to Sat 10:30AM-10:30PM</div>1400 Texas Ave S, College Station, TX 77840"});
            }
          </script>

          <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkcwS72e33Dj_gMgOzJ_XTQkEgVlzprHM&callback=initMap">
          </script>

        <div id="google_translate_id"></div>
        <h1>Locations Near You</h1>

        <div id="map"></div>
        <button class="btn btn-primary btn-block mb-2" onclick="history.back()">Return</button>
