<div class="row mt-5" id = "1">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1>Log in successfully!</h1>
        <a href="managers/managers" class="btn btn-primary btn-block mb-2"
        >Managers</a>
        <a href="servers/servers" class="btn btn-primary btn-block mb-2"
        >Servers</a>
</div>
</div>
</div>