<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">


<div><a href="/" class="btn btn-primary btn-block mb-2">Return</a></div>
<script src="https://translate.google.com/translate_a/element.js?cb=translateDropdown"></script>
<script>
  function translateDropdown() {
    new google.translate.TranslateElement(
      {pageLanguage: 'en'}, 'google_translate_id'
    )
  }
</script>
<div id="google_translate_id"></div>
<h1>Manager Login</h1>
      <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Sign In with Google</a>
<form action = "/managerlogin/managerlogin" method = "POST"> 
    <div class="col-sm">
    <input type = "text" id = "username" name="username" placeholder="Username" required="required"/>
    </div>
    <div class="col-sm">
    <input type = "password" id = "password" name="password" placeholder="Password" required="required"/>
    </div>
    <div class="col-sm">
        <input type = "submit" value = "Login"/>
    </div>
</form>
<ul>
    <div class="col-sm">
      <div class="text-danger">
    <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
    <li><%= error.message %></li>
    <% }) %> <% } %>
  </div>
  </div>
  </ul>
</div>
</div>
</div>
