<style>
  #sameline {
    overflow: hidden;
    white-space: nowrap;
    top: 20px;
    float: left;
  }
</style>

<div id="sameline">
  <a href="/">Main Menu</a>
  <a> --> Managers</a>
</div>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <script src="https://translate.google.com/translate_a/element.js?cb=translateDropdown"></script>
        <script>
          function translateDropdown() {
            new google.translate.TranslateElement(
              {pageLanguage: 'en'}, 'google_translate_id'
            )
          }
        </script>
        <div id="google_translate_id"></div>
        <h1>Managers</h1>
        <a href="/managers/inventory" class="btn btn-primary btn-block mb-2"
        >Inventory</a>
        <a href="/managers/saleshistory" class="btn btn-primary btn-block mb-2"
        >Order History</a>
        <a href="/managers/employeelist" class="btn btn-primary btn-block mb-2"
        >Employee List</a>
        <a href="/managers/menu" class="btn btn-primary btn-block mb-2"
        >Menu</a>
        <a href="/" class="btn btn-primary btn-block mb-2">Return</a>