<style>
  #sameline {
    overflow: hidden;
    white-space: nowrap;
    padding-top: 20px;
  }
  body  {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(255, 129, 161, 0.73)),
                      url('/testbackground.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
  }
</style>

<body></body>
<div id="sameline">
  <a href="/">Main Menu</a>
  <a> --> Managers</a>
</div>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        
        <h1>Managers</h1>
        <a href="/managers/inventory" class="btn btn-primary btn-block mb-2"
        >Inventory</a>
        <a href="/managers/saleshistory" class="btn btn-primary btn-block mb-2"
        >Sales History</a>
        <a href="/managers/employeelist" class="btn btn-primary btn-block mb-2"
        >Employee List</a>
        <a href="/managers/menu" class="btn btn-primary btn-block mb-2"
        >Menu</a>
        <a href="/" class="btn btn-primary btn-block mb-2">Return</a>

        <script src="https://translate.google.com/translate_a/element.js?cb=translateDropdown"></script>
            <script>
                function translateDropdown() {
                    new google.translate.TranslateElement(
                        {pageLanguage: 'en'}, 'google_translate_id'
                    )
                }
            </script>
            <div id="google_translate_id"></div>