<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <div id="google_translate_id"></div>

        <div><button class="btn btn-primary btn-block mb-2" onclick="history.back()">Return</button></div>
    <% for (var i =1; i <=orderarr.length-2;  i++ ) { %>
        <form action = "/servers/order/<%= i %>" method = "POST"> 
        <div class="row">
                <input type = "submit" value = <%= orderarr[i].item %> />
               </form>
            <% } %>
        
        <div class="col-sm">
            <a href="/servers/order/bowl">
                <button type="button" class="btn btn-primary btn-lg">
                    Bowl
                </button> 
            </a>
        </div>
        <div class="col-sm">
            <a href="/servers/order/plate">
                <button type="button" class="btn btn-primary btn-lg">
                    Plate
                </button>
            </a>
        </div>
        <div class="col-sm">
            <a href="/servers/order/biggerplate">
                <button type="button" class="btn btn-primary btn-lg">
                    Bigger Plate
                </button>
            </a>
        </div>
        <div class="col-sm">
            <a href="/servers/order/sides">
                <button type="button" class="btn btn-primary btn-lg">
                    Sides
                </button>
            </a>
        </div>
        <div class="col-sm">
            <a href="/servers/order/entrees">
                <button type="button" class="btn btn-primary btn-lg">
                    Entrees
                </button>
            </a>
        </div>
        <div class="col-sm">
            <a href="/servers/order/drinks">
                <button type="button" class="btn btn-primary btn-lg">
                    Drinks
                </button>
            </a>
        </div>
    </div>
</div>