<style>
  #sameline {
    overflow: hidden;
    white-space: nowrap;
    padding-top: 20px;
  }
</style>

<div id="sameline">
  <a href="/">Main Menu</a><a> --> </a>
  <a href="/customers/customers">Customers</a><a> --> </a>
  <a href="/customers/orderC">Order</a>
  <a> --> </a><br><a>View Current Order</a>
</div>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">

<div><button class="btn btn-primary btn-block mb-2" onclick="history.back()">Return</button></div>
<div id="google_translate_id"></div>

<table>
    <tr>
      <th>orderstaken</th><th>price</th>
    </tr>
 
    <% for (var i = 0; i < orderslist.length; i++) { %>
     <tr>
       <td><%= orderslist[i].orderstaken %></td>
       <td><%= orderslist[i].price %></td>
     </tr>    
    <% } %>
 </table>