<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <div id="google_translate_id"></div>
        <a href="/servers/servers" class="btn btn-primary btn-block mb-2">Return</a>
        <a href="/servers/orderslist" class="btn btn-primary btn-block mb-2"
        >View Current Order</a>
        <form action = "/servers/order/reset" method = "POST"> 
            <input type = "submit" value = "reset orders"  class="btn btn-primary btn-block mb-2"/> 
        </form>
        <div class="col-sm">
            <a href="/servers/order/orderconfirm">
                <button type="button" class="btn btn-primary btn-block mb-2">
                    Sumbit order
                </button>
            </a>
        </div>
        
        <div class="col-sm">
            <form action = "/servers/order/bowl" method = "POST"> 
                <input type = "submit" value = "Bowl: $<%= bowllist[0].price %>" class="btn btn-success">
        </div>
    </form>

    <div class="col-sm">
        <form action = "/servers/order/plate" method = "POST"> 
            <input type = "submit" value = "Plate: $<%= bowllist[1].price %>" class="btn btn-success">
    </div>
</form>
          <div class="col-sm">
            <form action = "/servers/order/biggerplate" method = "POST"> 
                <input type = "submit" value = "Biggerplate: $<%= bowllist[2].price %>" class="btn btn-success">
        </div>
    </form>

        <div class="col-sm">
            <a href="/servers/order/sides">
                <button type="button" class="btn btn-success">
                    Sides
                </button>
            </a>
        </div>
        <div class="col-sm">
            <a href="/servers/order/entrees">
                <button type="button" class="btn btn-success">
                    Entrees
                </button>
            </a>
        </div>
        <div class="col-sm">
            <a href="/servers/order/drinks">
                <button type="button" class="btn btn-success">
                    Drinks
                </button>
            </a>
        </div>
    </div>
    </div>
</div>