<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">

<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="/servers/order/bowl">
                <button type="button" class="btn btn-primary btn-lg">
                    Bowl
                </button> 
            </a>
        </div>
        <div class="col-sm">
            <a href="/servers/order/plate">
                <button type="button" class="btn btn-primary btn-lg">
                    Plate
                </button>
            </a>
        </div>
        <div class="col-sm">
            <a href="/servers/order/biggerplate">
                <button type="button" class="btn btn-primary btn-lg">
                    Bigger Plate
                </button>
            </a>
        </div>
        <div class="col-sm">
            <a href="/servers/order/biggerplate">
                <button type="button" class="btn btn-primary btn-lg">
                    A La Carte
                </button>
            </a>
        </div>
        <div class="col-sm">
            <a href="/servers/order/biggerplate">
                <button type="button" class="btn btn-primary btn-lg">
                    Appetizers
                </button>
            </a>
        </div>
        <div class="col-sm">
            <a href="/servers/order/biggerplate">
                <button type="button" class="btn btn-primary btn-lg">
                    Drinks
                </button>
            </a>
        </div>
    </div>
</div>