<style>
  #sameline {
    overflow: hidden;
    white-space: nowrap;
    padding-top: 20px;
  }
  body  {
    background-image: linear-gradient(to bottom, rgba(78, 78, 78, 0.52), rgba(133, 67, 84, 0.73)),
                      url('/testbackground.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
  }
</style>

<body></body>

<div id="sameline">
  <a href="/">Main Menu</a><a> --> </a>
  <a href="/customers/customers">Customers</a><a> --> </a>
  <a href="/customers/orderC">Order</a>
  <a> --> Plate</a>
</div>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <script src="https://translate.google.com/translate_a/element.js?cb=translateDropdown"></script>
          <script>
            function translateDropdown() {
              new google.translate.TranslateElement(
                {pageLanguage: 'en'}, 'google_translate_id'
              )
            }
          </script>
        <div id="google_translate_id"></div>
        <form action = "/customers/orderC/plateC/return" method = "POST"> 
          <div class="row">
            <input type = "submit" value ="Return" class="btn btn-primary btn-block mb-2"  />
           </form>
        <h1>Plate: Choose 2 Entrees & 1 Side!</h1>
        <ul>
          <div class="col-sm">
            <div class="text-danger">
          <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
          <li><%= error.message %></li>
          <% }) %> <% } %>
        </div>
        </div>
        </ul>
        <% for (var i =0; i < entreearr.length;  i++ ) { %>
          <form action = "/customers/orderC/plateC/entree/<%= i %>" method = "POST"> 
          <div class="row">
                  <input type = "submit" value ="<%= entreearr[i].category %>: <%= entreearr[i].item %> " />
                 </form>
              <% } %>
              </div>
            </div>
          </div>
