<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">

<table>
    <tr>
       <th>id</th><th>item</th><th>category</th><th>quantity</th>
    </tr>
 
    <% for (var i = 0; i < restockreport.length; i++) { %>
     <tr>
    <td><%= restockreport[i].id %></td>
       <td><%= restockreport[i].item %></td>
       <td><%= restockreport[i].category %></td>
       <td><%= restockreport[i].quantity %></td>
     </tr>    
    <% } %>
 </table>