<style>
   #sameline {
     overflow: hidden;
     white-space: nowrap;
     padding-top: 20px;
   }
 </style>
 
 <div id="sameline">
   <a href="/">Main Menu</a><a> --> </a>
   <a href="/servers/servers">Servers</a>
   <a> --> Restock Report</a>
 </div>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
         <div id="google_translate_id"></div>

<div><button class="btn btn-primary btn-block mb-2" onclick="history.back()">Return</button></div>

<table>
    <tr>
       <th>id</th><th>item</th><th>category</th><th>quantity</th>
    </tr>
 
    <% for (var i = 0; i < restockreport.length; i++) { %>
     <tr>
    <td><%= restockreport[i].id %></td>
       <td><%= restockreport[i].item %></td>
       <td><%= restockreport[i].category %></td>
       <td><%= restockreport[i].quantity %></td>
     </tr>    
    <% } %>
 </table>