<style>
  #sameline {
    overflow: hidden;
    white-space: nowrap;
    padding-top: 20px;
  }
</style>

<div id="sameline">
  <a href="/">Main Menu</a><a> --> </a>
  <a href="/managers/managers">Managers</a>
  <a> --> Sales History</a>
</div>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <div id="google_translate_id"></div>

<div><button class="btn btn-primary btn-block mb-2" onclick="history.back()">Return</button></div>

<table>
    <tr>
       <th>date</th><th>netsales</th><th>numorders</th>
    </tr>
 
    <% for (var i = 0; i < saleshistory.length; i++) { %>
     <tr>
       <td><%= saleshistory[i].date %></td>
       <td><%= saleshistory[i].netsales %></td>
       <td><%= saleshistory[i].numorders %></td>
     </tr>    
    <% } %>
 </table>