<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1>Servers</h1>
        <a href="/order/order" class="btn btn-primary btn-block mb-2"
        >Order</a>
        <a href="/itemsales/itemsales" class="btn btn-primary btn-block mb-2"
        >Sales By Item</a>
        <a href="/restockreport/restockreport" class="btn btn-primary btn-block mb-2"
        >Restock Report</a>